{
  "openapi": "3.0.0",
  "info": {
    "title": "Standup Comedy Connect API",
    "description": "API pour la plateforme de mise en relation entre humoristes et organisateurs d'événements de stand-up comedy",
    "version": "1.0.0",
    "contact": {
      "name": "Support API",
      "email": "support@standup-comedy-connect.com"
    }
  },
  "servers": [
    {
      "url": "https://connectcomedyclub.com/api",
      "description": "Serveur de production"
    },
    {
      "url": "http://localhost:5000/api",
      "description": "Serveur de développement local"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Inscription d'un nouvel utilisateur",
        "description": "Permet à un humoriste ou organisateur de s'inscrire sur la plateforme",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "phone", "password", "firstName", "lastName", "role"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Adresse email valide"
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^(0[1-9]|0[6-7]|0[4-9]|0[1-3][0-9])\\d{8}$",
                    "description": "Numéro de téléphone français ou belge (10 chiffres)"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "description": "Mot de passe (min 8 caractères, 1 majuscule, 1 chiffre)"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "description": "Confirmation du mot de passe"
                  },
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 50,
                    "description": "Prénom"
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 50,
                    "description": "Nom de famille"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["COMEDIAN", "ORGANIZER"],
                    "description": "Rôle de l'utilisateur"
                  },
                  "profile": {
                    "type": "object",
                    "properties": {
                      "experience": {
                        "type": "string",
                        "description": "Années d'expérience"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Utilisateur créé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {"type": "string"},
                    "email": {"type": "string"},
                    "firstName": {"type": "string"},
                    "lastName": {"type": "string"},
                    "role": {"type": "string"},
                    "createdAt": {"type": "string", "format": "date-time"}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Données invalides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "error": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Connexion utilisateur",
        "description": "Authentification d'un utilisateur existant",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {"type": "string", "format": "email"},
                  "password": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connexion réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {"type": "string", "description": "JWT token d'authentification"},
                    "user": {
                      "type": "object",
                      "properties": {
                        "_id": {"type": "string"},
                        "email": {"type": "string"},
                        "firstName": {"type": "string"},
                        "lastName": {"type": "string"},
                        "role": {"type": "string"}
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Identifiants invalides"
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Récupérer le profil de l'utilisateur connecté",
        "responses": {
          "200": {
            "description": "Profil récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {"type": "string"},
                    "email": {"type": "string"},
                    "firstName": {"type": "string"},
                    "lastName": {"type": "string"},
                    "role": {"type": "string"},
                    "profile": {"type": "object"},
                    "organizerProfile": {"type": "object"},
                    "stats": {"type": "object"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/users": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Récupérer tous les utilisateurs (répertoire)",
        "responses": {
          "200": {
            "description": "Liste des utilisateurs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {"type": "string"},
                      "firstName": {"type": "string"},
                      "lastName": {"type": "string"},
                      "role": {"type": "string"},
                      "profile": {"type": "object"}
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": ["Events"],
        "summary": "Récupérer tous les événements",
        "description": "Retourne la liste des événements selon le rôle de l'utilisateur",
        "parameters": [
          {
            "name": "organizerId",
            "in": "query",
            "description": "ID de l'organisateur pour filtrer",
            "required": false,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des événements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {"type": "string"},
                      "title": {"type": "string"},
                      "description": {"type": "string"},
                      "date": {"type": "string", "format": "date"},
                      "startTime": {"type": "string"},
                      "endTime": {"type": "string"},
                      "location": {
                        "type": "object",
                        "properties": {
                          "venue": {"type": "string"},
                          "address": {"type": "string"},
                          "city": {"type": "string"},
                          "country": {"type": "string"}
                        }
                      },
                      "organizer": {
                        "type": "object",
                        "properties": {
                          "_id": {"type": "string"},
                          "firstName": {"type": "string"},
                          "lastName": {"type": "string"},
                          "email": {"type": "string"}
                        }
                      },
                      "status": {"type": "string", "enum": ["draft", "published", "cancelled", "completed"]},
                      "requirements": {
                        "type": "object",
                        "properties": {
                          "minExperience": {"type": "number"},
                          "maxPerformers": {"type": "number"},
                          "duration": {"type": "number"}
                        }
                      },
                      "budget": {
                        "type": "object",
                        "properties": {
                          "min": {"type": "number"},
                          "max": {"type": "number"}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Events"],
        "summary": "Créer un nouvel événement",
        "description": "Permet à un organisateur de créer un nouvel événement",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "description", "date", "location", "requirements"],
                "properties": {
                  "title": {"type": "string", "minLength": 3, "maxLength": 100},
                  "description": {"type": "string", "minLength": 10, "maxLength": 1000},
                  "date": {"type": "string", "format": "date"},
                  "startTime": {"type": "string", "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"},
                  "endTime": {"type": "string", "pattern": "^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"},
                  "location": {
                    "type": "object",
                    "required": ["venue", "address", "city", "country"],
                    "properties": {
                      "venue": {"type": "string"},
                      "address": {"type": "string"},
                      "city": {"type": "string"},
                      "country": {"type": "string"}
                    }
                  },
                  "requirements": {
                    "type": "object",
                    "required": ["minExperience", "duration"],
                    "properties": {
                      "minExperience": {"type": "number", "minimum": 0},
                      "maxPerformers": {"type": "number", "minimum": 1},
                      "duration": {"type": "number", "minimum": 5}
                    }
                  },
                  "budget": {
                    "type": "object",
                    "properties": {
                      "min": {"type": "number", "minimum": 0},
                      "max": {"type": "number", "minimum": 0}
                    }
                  },
                  "status": {"type": "string", "enum": ["draft", "published"], "default": "draft"}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Événement créé avec succès"
          },
          "400": {
            "description": "Données invalides"
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "tags": ["Events"],
        "summary": "Récupérer un événement par ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Détails de l'événement"
          },
          "404": {
            "description": "Événement non trouvé"
          }
        }
      },
      "put": {
        "tags": ["Events"],
        "summary": "Modifier un événement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {"type": "string"},
                  "description": {"type": "string"},
                  "date": {"type": "string", "format": "date"},
                  "startTime": {"type": "string"},
                  "endTime": {"type": "string"},
                  "location": {"type": "object"},
                  "requirements": {"type": "object"},
                  "budget": {"type": "object"},
                  "status": {"type": "string", "enum": ["draft", "published", "cancelled", "completed", "DRAFT", "PUBLISHED", "CANCELLED", "COMPLETED"]},
                  "cancellationReason": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Événement modifié avec succès"
          },
          "403": {
            "description": "Non autorisé à modifier cet événement"
          },
          "404": {
            "description": "Événement non trouvé"
          }
        }
      },
      "delete": {
        "tags": ["Events"],
        "summary": "Supprimer un événement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Événement supprimé avec succès"
          },
          "403": {
            "description": "Non autorisé à supprimer cet événement"
          },
          "404": {
            "description": "Événement non trouvé"
          }
        }
      }
    },
    "/applications": {
      "get": {
        "tags": ["Applications"],
        "summary": "Récupérer toutes les candidatures",
        "description": "Retourne les candidatures selon le rôle de l'utilisateur",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {"type": "string", "enum": ["PENDING", "ACCEPTED", "REJECTED"]}
          },
          {
            "name": "eventId",
            "in": "query",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des candidatures",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {"type": "string"},
                      "event": {"type": "object"},
                      "comedian": {"type": "object"},
                      "status": {"type": "string", "enum": ["PENDING", "ACCEPTED", "REJECTED"]},
                      "performanceDetails": {
                        "type": "object",
                        "properties": {
                          "duration": {"type": "number"},
                          "description": {"type": "string"},
                          "videoLink": {"type": "string"}
                        }
                      },
                      "message": {"type": "string"},
                      "organizerMessage": {"type": "string"},
                      "createdAt": {"type": "string", "format": "date-time"}
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Applications"],
        "summary": "Créer une nouvelle candidature",
        "description": "Permet à un humoriste de postuler à un événement",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["event", "performanceDetails"],
                "properties": {
                  "event": {"type": "string", "description": "ID de l'événement"},
                  "performanceDetails": {
                    "type": "object",
                    "required": ["duration", "description"],
                    "properties": {
                      "duration": {"type": "number", "minimum": 5, "maximum": 60},
                      "description": {"type": "string", "minLength": 10, "maxLength": 500},
                      "videoLink": {"type": "string", "format": "uri"}
                    }
                  },
                  "message": {"type": "string", "maxLength": 500}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidature créée avec succès"
          },
          "400": {
            "description": "Données invalides ou candidature déjà existante"
          }
        }
      }
    },
    "/applications/{applicationId}": {
      "get": {
        "tags": ["Applications"],
        "summary": "Récupérer une candidature par ID",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Détails de la candidature"
          },
          "403": {
            "description": "Non autorisé à voir cette candidature"
          },
          "404": {
            "description": "Candidature non trouvée"
          }
        }
      },
      "put": {
        "tags": ["Applications"],
        "summary": "Mettre à jour le statut d'une candidature",
        "description": "Permet à l'organisateur d'accepter ou refuser une candidature",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "status": {"type": "string", "enum": ["PENDING", "ACCEPTED", "REJECTED"]},
                  "organizerMessage": {"type": "string", "maxLength": 500}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statut mis à jour avec succès"
          },
          "403": {
            "description": "Non autorisé à modifier cette candidature"
          },
          "404": {
            "description": "Candidature non trouvée"
          }
        }
      },
      "delete": {
        "tags": ["Applications"],
        "summary": "Supprimer une candidature",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Candidature supprimée avec succès"
          },
          "403": {
            "description": "Non autorisé à supprimer cette candidature"
          },
          "404": {
            "description": "Candidature non trouvée"
          }
        }
      }
    },
    "/applications/{applicationId}/confirm": {
      "patch": {
        "tags": ["Applications"],
        "summary": "Confirmer la participation",
        "description": "Permet à un humoriste de confirmer sa participation après modification d'événement",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Participation confirmée",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "message": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/me": {
      "get": {
        "tags": ["Profile"],
        "summary": "Récupérer le profil de l'utilisateur connecté",
        "responses": {
          "200": {
            "description": "Profil récupéré avec succès"
          }
        }
      }
    },
    "/profile/{userId}": {
      "put": {
        "tags": ["Profile"],
        "summary": "Mettre à jour le profil utilisateur",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {"type": "string"},
                  "lastName": {"type": "string"},
                  "email": {"type": "string", "format": "email"},
                  "phone": {"type": "string"},
                  "city": {"type": "string"},
                  "address": {"type": "string"},
                  "profile": {"type": "object"},
                  "organizerProfile": {"type": "object"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profil mis à jour avec succès"
          }
        }
      }
    },
    "/absences": {
      "post": {
        "tags": ["Absences"],
        "summary": "Marquer un participant comme absent",
        "description": "Permet à un organisateur de marquer un humoriste comme absent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["eventId", "comedianId"],
                "properties": {
                  "eventId": {"type": "string"},
                  "comedianId": {"type": "string"},
                  "reason": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Absence marquée avec succès"
          }
        }
      }
    },
    "/absences/event/{eventId}": {
      "get": {
        "tags": ["Absences"],
        "summary": "Récupérer les absences d'un événement",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des absences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {"type": "string"},
                      "comedian": {"type": "object"},
                      "organizer": {"type": "object"},
                      "reason": {"type": "string"},
                      "markedAt": {"type": "string", "format": "date-time"}
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Vérifier l'état du serveur",
        "description": "Endpoint de santé pour vérifier que le serveur fonctionne",
        "security": [],
        "responses": {
          "200": {
            "description": "Serveur opérationnel",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {"type": "string", "example": "OK"},
                    "timestamp": {"type": "string", "format": "date-time"},
                    "uptime": {"type": "number", "description": "Temps de fonctionnement en secondes"}
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
